.event-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.form-container {
  background-color: skyblue;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px; 
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #007bff;
}

.form-group {
  margin-bottom: 20px;
}

.label-inline {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  vertical-align: top;
  margin-top: 10px;
}

input[type='text'],
input[type='date'],
textarea {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
}


button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}
