.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 5px; 
    padding: 50px;
    padding-left: 100px;
    background-color: black;
    align-items: center; 
    justify-content: center;
  }

  @media (max-width: 1100px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr); 
      padding: 5px;
    }
  }
  
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr); 
      padding: 5px;
    }
  }
  
  @media (max-width: 576px) {
    .grid-container {
      grid-template-columns: 1fr;
      padding: 3px;
      margin-left: auto;
    }
  }
  